.pagination .page-link {
  color: #fff !important;
  background-color: #8b5e3c !important;
  border: 1px solid #8b5e3c !important;
  border-radius: 8px !important;
  padding: 0.5rem 0.75rem !important;
  margin: 0 0.25rem !important;
  transition: background-color 0.3s ease !important;
}

.pagination .page-link:hover {
  background-color: #714a2e !important;
  color: #fff !important;
}

.pagination .active .page-link {
  background-color: #714a2e !important;
  border: 1px solid #714a2e !important;
  color: #fff !important;
}
